.background-simples {
    background-color: var(--cor-de-fundo);
}


/* ---------------------- Redes Sociais ------------------------- */

.icones-redes-sociais {
    max-width: 280px;
}

.icones-redes-sociais img {
    max-width: 60px;
    max-height: 44px;
}

.flip-card {
    background-color: transparent;
    width: 65px;
    height: 44px;
    perspective: 1000px;
  }
  
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

.flip-card-back {
    transform: rotateY(180deg);
  }


/* --------- Estilização do carrossel de passo a passo ---------- */

.titulo-passo-a-passo {
    color: var(--preto);
    font-size: 1.5rem;
    text-transform: uppercase;
}

.passo-a-passo {
    /* background: url("../img/background-passoapasso.webp") no-repeat; */
    background-size: cover;
    background-color: var(--cor-de-fundo);
    padding-bottom: 80px;
}

.passo-a-passo-container {
    max-width: 1020px;
}

.borda-fundo-vermelho {
    background-color: var(--cor-secundaria);
    width: 385px;
    height: 403px;

}

.imagem-passo-1 {
    background-color: #F4F4F4;
    width: 355px;
    height: 403px;
    left: 30px;
    top: 0px;
}

.detalhe-fundo-vermelho {
    background-color: var(--cor-secundaria);
    width: 117px;
    height: 403px;
}

.passoapasso-fundo-texto {
    background-color: var(--cor-de-fundo);
    width: 385px;
    height: 403px;
}

.passoapasso-fundo-texto p {
    max-width: 356px;
    color: var(--preto);
    text-align: justify;
}

.numero-passoapasso {
    bottom: 25px;
    left: 46px;
}

.numero-do-passo-a-passo {
    font-size: 20rem;
    color: var(--preto);
}

.passoapasso-fundo-texto a {
    font-size: 1rem;
}


/* ---------------------- Imagens Iniciais ---------------------- */

.inicio-finalizadores {
    background-color: var(--cor-de-fundo);
    padding-top: 120px;
}

.inicio-blindagem {
    background-color: var(--cor-de-fundo);
    padding-top: 120px;
}

/* -------------------------- Botões ---------------------------- */

.botoes {
    text-decoration: none;
    border-radius: 43px;
    font-size: 16px;
    width: 130px ;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin-top: 20px;
    margin-left: 95px;
    margin-right: 95px;
    font-weight: 600;
}

.cor-botao {
    background-color: var(--cor-secundaria);
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    color: var(--preto);
}

.cor-botao:hover {
    background-color: #c2a637;
    box-shadow: none;
}

@media (max-width: 400px) {

    .borda-fundo-vermelho {
        width: 320px;
        height: 300px;
    }

    .numero-passoapasso {
        height: 320px;
    }

    .numero-do-passo-a-passo {
        font-size: 17rem;
    }
    
    .imagem-passo-1 {
        width: 320px;
        height: 320px;
        left: 0px;
        top: 0px;
    }
    
    .imagem-passo-1 img {
        max-height: 270px;
        max-width: 200px; 
    }
    
    .detalhe-fundo-vermelho {
        width: 100px;
        height: 320px;
        border-radius: 0 0 0 0
    }

    .detalhe-fundo-vermelho img {
        width: 90px;
        height: 90px;
    }
    
    .passoapasso-fundo-texto {
        width: 320px;
        height: 270px;
    }

}