* .background {
    background: url("../img/background.png") no-repeat;
    background-color: var(--branco);
    height: 2150px;
    background-size: cover;
    position: relative;
}

.introducao {
    max-width: 1300px;
    height: 800px;
    padding-top: 80px;
}

.apresentacao {
    max-width: 1200px;
    border: solid 3px;
    color: transparent;
    position: relative;
    top: 100px;
}

.apresentacao h1 {
    position: relative;
    margin-top: 80px;
}

.apresentacao h2 {
    position: relative;
    animation: desliza-direita 2s linear alternate;
    max-width: 800px;
    text-indent: 50px;
    z-index: 1;
}

.apresentacao h3 {
    position: relative;
    max-width: 800px;
    z-index: 1;
}

.botao1 {
    animation: aparece 3s;
}

.sede-unique {
    position: absolute;
    max-width: 600px;
    max-height: 420px;
    top: 60px;
    right: 20px;
    bottom: 10px;
    animation: aparece 4s;
    z-index: 0;
    border-radius: 10px;
}

.sede-unique {
    opacity: 0.5;
}


/* ----------------------------------- Estilizando a galeria --------------------------------------- */

.galeria {
    max-width: 1100px;
}

.linha-de-separacao {
    margin-top: 100px;
}

.galeria-imagens img {
    width: 350px;
    height: 350px;
    object-fit: cover;
}

.descricao-galeria {
    text-align: justify;
    text-indent: 50px;
    max-width: 1050px;
}

.background-1 img {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.img-responsive:hover {
    zoom: 100%;
    border: 5px solid var(--preto);
}


/* --------------------------------- Estilizando o Kit de 8 produtos -------------------------------------- */

.background-2 {
    background: url("../img/background-2.png") no-repeat;
    background-color: var(--branco);
    height: 1000px;
    background-size: cover;
    background-attachment: fixed;
}

.kit-8-produtos {
    background-image: url(/static/img/Produtos/prateleiras-cortadas.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 534px;
}

.kit-8-posicao {
    max-width: 800px;
}

.produtos-limpeza img:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

.produtos-10ml-geis img:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

.kit-info {
    max-width: 900px;
    margin-bottom: 200px;
}

.b-kit {
    text-decoration: none;
    border-radius: 43px;
    font-size: 16px;
    width: 130px;
    height: 40px;
}

.linha-geis {
    margin-top: 100px;
}

.linha-geis-prateleira {
    background-image: url(/static/img/Produtos/prateleiras-geis.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 462px;
}

.produtos-geis img:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}


/* ------------------------------------ Ajuste das Animações do CSS ---------------------------------------- */

@keyframes desliza-direita {
    0% {
        opacity: 0;
        left: -300px;
        top: 0px;
    }

    50% {
        opacity: 0;
        left: -100px;
        top: 0px;
    }

    100% {
        opacity: 1;
        left: 0px;
        top: 0px;
    }
}

@keyframes desliza-baixo {
    0% {
        opacity: 0;
        left: 0px;
        top: 300px;
    }

    50% {
        opacity: 0;
        left: 0px;
        top: 200px;
    }

    100% {
        opacity: 1;
        left: 0px;
        top: 0px;
    }
}

@keyframes aparece {
    0% {
        opacity: 0;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}


/* --------------------------------- Ajustes para dispositivos médios -------------------------------------- */

@media (max-width: 1080px) {
    .background {
        height: 2600px;
    }

    .introducao {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        height: 1000px;
    }

    .apresentacao {
        margin: 5px;
        top: 10px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        text-align: justify;
        max-width: 100%;
    }

    .apresentacao h1 {
        width: 100%;
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 20px;
        text-align: center;
    }

    .titulo1 {
        display: flex;
        justify-content: center;
    }

    .botao1 {
        position: relative;
        margin-left: 85px;
        margin-right: 85px;
    }

    .sede-unique {
        display: flex;
        position: relative;
        right: 0;
        top: 100px;
    }

    .linha-de-separacao img {
        width: 100%;
    }

    .background-2 {
        height: 1100px;
    }

    .kit-info h5 {
        text-align: center;
    }

    .parallax-2 {
        height: 1150px;
    }
}


/* --------------------------------- Ajustes para dispositivos médios------------------------------------ */

@media (max-width: 700px) {
    .background {
        height: 2300px;
    }

    .introducao {
        padding-top: 100px;
    }

    .img-responsive {
        width: 250px !important;
        height: 250px !important;
    }

    .background-2 {
        height: 1650px;
    }

    .kit-8-produtos {
        background-image: url(/static/img/Produtos/prateleiras-cortadas-peq.png);
        height: 995px;
    }

    .produtos-limpeza img {
        padding-left: 0 !important;
    }

    .produtos-10ml-geis {
        padding: 0 !important;
        margin-top: 0 !important;
    }

    .produtos-10ml-geis img {
        margin-top: 50px;
    }

    .produtos-geis img {
        width: 157px;
    }

    .produtos-geis {
        margin-top: 0 !important;
    }

}


/* --------------------------------- Ajustes para dispositivos pequenos------------------------------------ */

@media (max-width: 500px) {

    .background {
        height: 2000px;
    }

    .linha-geis-prateleira {
        background-image: url(/static/img/Produtos/prateleiras-geis-peq.png);
        height: 632px;
    }

    .img-responsive {
        width: 175px !important;
        height: 175px !important;
    }

    .produtos-geis img {
        margin-top: 50px;
        padding: 0 !important;
        padding-right: 3px !important;
        padding-left: 3px !important;
    }

    .background-2 {
        height: 1700px;
    }

    .produtos-10ml-geis img {
        margin-top: 40px;
    }
}

@media (max-width: 360px) {
    .background {
        height: 2500px;
    }
}