*
.nav-background {
    background: rgb(255,204,41);
    background: var(--gradiente-amarelo);
    z-index: 1;
    /* background-color: var(--cor-secundaria); */
}

.logo {
    width: 125px;
    margin-top: 5px;
}

.links-do-menu {
    font-size: 1rem;
    font-weight:600;
    text-transform: uppercase;
    z-index: 1;
}

.barra-de-menu {
    max-width: 1100px;
}

.lista-aberta {
    background: rgb(252,229,34);
    background: linear-gradient(90deg, rgba(252,229,34,1) 0%, rgba(252,223,35,1) 100%);
    border: none;
    z-index: 0;
}

.lista-aberta a {
    font-weight: 600;
    color: rgba(0,0,0,.55);
    z-index: 0;
}

@media (max-width: 1440px) {
    .barra-de-menu {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 990px) {

    .links-do-menu {
        margin-top: 50px;
    }

    .lista-aberta {
        border: 1px solid rgba(0,0,0,.15);
        border-radius: 0.25rem;
    }
}