*
/* .paralaxe-prep {
    background-image: url("../img/preparadores/preparadores-art.png");
    background-color: #f4f4f4;
    min-height: 600px;
    background-attachment: fixed;
    background-position-X : center;
    background-repeat: no-repeat;
} */

.preparadores {
    background-color: #f4f4f4;
}

.inicio-preparadores {
    background-color: var(--cor-de-fundo);
    padding-top: 120px;
}

.abas-link{
    text-transform: uppercase;
    color: var(--preto);
    font-weight: 600;
}

.abas-link:hover{
    color: var(--cor-secundaria) !important;
}

.passo-a-passo-container a{
    color: var(--preto);
    font-weight: 800;
}

.passo-a-passo-container a:hover{
    color: var(--cor-secundaria) !important;
}

@media (max-width: 1000px) {

    .mini-prep {
        text-align: center;
    }

}

