*

/* P치gina Geis */
.inicio-geis {
    background-color: #F4F4F4;
}

.inicio-geis h5 {
    max-width: 750px;
}

.card-gel {
    background-color: var(--branco);
    padding: 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
}

.card-gel img {
    width: 200px;
    height: 200px;
}

.titulo-geis {
    max-width: 200px;
    font-size: 0.9rem;
    color: var(--cor-premium);
    text-transform: uppercase;
}

/* P치gina Gel e Geis */

.geis-lista {
    background-color: #F4F4F4;
    padding-top: 50px;
}

.geis-descricao {
    max-width: 1000px;
}

.linha-sep {
    max-width: 1200px;
}

/* P치gina Gel */

.titulo-gel {
    color: var(--cor-premium);
    font-size: 1.5rem;
    text-transform: uppercase;
}

.img-gel {
    max-width: 357px;
}

.descricao-gel {
    color: var(--preto);
}

.icones-redes-sociais {
    max-width: 280px;
}

.icones-redes-sociais img {
    max-width: 60px;
}

.perguntas {
    background-color: #F4F4F4;
    font-weight: 700;
}

.perguntas:hover {
    color: var(--cor-premium);
}


.passo-a-passo {
    background-color: #F4F4F4;
    padding-bottom: 80px;
}

.passo-a-passo-container {
    max-width: 1020px;
}

.borda-fundo-vermelho {
    background-color: var(--cor-premium);
    width: 385px;
    height: 403px;
    border-radius: 5px 0 0 0;
}

.imagem-passo-1 {
    background-color: #F4F4F4;
    width: 355px;
    height: 355px;
    left: 30px;
    top: 23px;
    border-radius: 0 0 0 60px;
}

.imagem-passo-1 img {
    max-height: 307px;
    max-width: 200px;
}

.detalhe-fundo-vermelho {
    background-color: var(--cor-premium);
    width: 117px;
    height: 119px;
    border-radius: 5px 0 60px 0
}

.passoapasso-fundo-texto {
    background-color: #fff;
    width: 385px;
    height: 403px;
    border-bottom: 25px solid var(--cor-premium);
}

.passoapasso-fundo-texto p {
    max-width: 356px;
    color: var(--preto);
    text-align: justify;
}

.numero-passoapasso {
    bottom: 25px;
    left: 46px;
}

.numero-passoapasso h1 {
    color: var(--preto);
    font-size: 40px;
}

.modo-de-usar {
    background-color: #F4F4F4;
}

.modo-de-usar-descricao {
    max-width: 1000px;
    color: var(--preto);
}

.modo-de-usar-descricao p {
    color: var(--preto);
    padding-bottom: 100px;
    text-align: justify;
}


@media (max-width: 1920px) {
    /* .inicio-geis {
        background-image: url(/static/img/geis/background-folhas-1920.gif);
        background-position: center;
        background-repeat: no-repeat;
    } */
}

@media (max-width: 1000px) {
    .titulo-geis {
        margin-top: 20px !important;
    }

    .geis-imagem {
        width: 100%;
    }

    .inicio-geis h5 {
        font-size: 3vw;
    }

    .geis-lista h5 {
        font-size: 3vw;
    }
}

@media (max-width: 400px) {

    .inicio-geis h5 {
        font-size: 5vw;
    }

    .geis-lista h5 {
        font-size: 5vw;
    }

    .img-gel {
        width: 100%;
    }

    .imagem-passo-1 {
        width: 100%;
        left: 0px;
        top: 23px;
    }

    .card-gel img {
        width: 150px;
        height: 150px;
    }

    .titulo-geis {
        max-width: 150px;
    }
    
    /* ----------- P치gina Gel -------------- */
    
    .borda-fundo-vermelho {
        width: 320px;
        height: 300px;
    }
    
    .imagem-passo-1 {
        width: 300px;
        height: 300px;
        left: 10px;
        top: 15px;
        border-radius: 0 0 0 0;
    }
    
    .imagem-passo-1 img {
        max-height: 270px;
        max-width: 200px;
    }
    
    .detalhe-fundo-vermelho {
        width: 100px;
        height: 100px;
        border-radius: 5px 0 60px 0
    }

    .detalhe-fundo-vermelho img {
        width: 90px;
        height: 90px;
    }
    
    .passoapasso-fundo-texto {
        width: 320px;
        height: 270px;
        border-bottom: 15px solid var(--cor-premium);
        border-left: 10px solid var(--cor-premium);
        border-right: 10px solid var(--cor-premium);
        border-top: 2px solid var(--cor-premium);
        border-radius: 0 0 0 50px;
    }
    
    .numero-passoapasso {
        bottom: 15px;
        left: 34px;
    }
}