{% extends 'base.html' %}
{% load static %}
{% block content %}

{% include 'partials/menu.html' %}

<main class="background-simples">

	<!-- ------------------------- Descrição do Gel ------------------------- -->

	<section class="geis-lista">
		<article class="geis-descricao container">
			<h2 class="text-center mb-4 pt-5 titulo-gel">Nail Prep - Spray Higienizante - 120ml</h2>
			<div class="row mt-5">
				<div data-aos="fade-right" class="col-lg-6 col-md-12 d-flex justify-content-center">
					<img class="img-gel" src="{% static 'img/higienizadores/prep-120.png' %}"
						alt="Preparador Unique Nail">
				</div>

				<div class="col-lg-6 col-md-12 d-flex align-items-center justify-content-center">
					<ul class="descricao-gel">
						<li>Desidratador;</li>
						<li>Spray higienizante refrescante;</li>
						<li>Controla oleosidade e umidade das unhas;</li>
						<li>Utilizado antes do processo de aplicação do Primer;</li>
						<li>Utilizado na limpeza dos utensílios de manicure;</li>
						<li>Manter longe de fontes de calor e vento;</li>
						<li>Uso profissional;</li>
						<li>Registro Anvisa: 25351.708285/2019-90.</li>
					</ul>
				</div>
			</div>
			<div class="mini-prep">
				<img class="m-4" src="{% static 'img/higienizadores/prep-refil-min.png' %}"></img>
			</div>
			<div class="icones-redes-sociais m-auto d-flex justify-content-center">
				<a href="https://www.instagram.com/uniquenail.oficial/"><img class="px-2 w-100"
						src="{% static '/img/Produtos/icone-instagram.png' %}"></img></a>

				<a href="#"><img class="px-2 w-100"
						src="{% static '/img/Produtos/icone-facebook.png' %}"></img></a>

				<a href="#"><img class="px-2 w-100"
						src="{% static '/img/Produtos/icone-whatsapp.png' %}"></img></a>

				<a href="#"><img class="px-2 w-100"
						src="{% static '/img/Produtos/icone-youtube.png' %}"></img></a>
			</div>
		</article>
	</section>

	<!-- ---------------------- Modo de Usar -------------------------- -->
	<section class="passo-a-passo mt-5" id="modo-usar">
		<h2 class="titulo-passo-a-passo text-center pt-5 mb-4" id="precaucoes">Passo a Passo</h2>
		<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-inner passo-a-passo-container m-auto">
				
				<!-- Passo 1 -->
				<div class="carousel-item active" data-bs-interval="8000">
					<div class="d-block justify-content-center d-flex flex-wrap">
						<div class="borda-fundo-vermelho position-relative ">
							<div class="imagem-passo-1 position-absolute d-flex justify-content-center align-items-center">
								<img src="{% static 'img/Produtos/prep-block.png' %}" alt="Prep Unique Nail">
							</div>
							<div class="detalhe-fundo-vermelho position-absolute">
								<div class="position-relative">
									<img src="{% static '/img/geis/detalhe-passoapasso.png' %}">
									<div class="position-absolute numero-passoapasso">
										<h1>1</h1>
									</div>
								</div>

							</div>
						</div>
						<div class="passoapasso-fundo-texto p-2 d-flex justify-content-center align-items-center">
							<ul><li>Para iniciar o processo de construção da unha de gel, faça a preparação da lâmina ungueal com a lixa manual criando ranhuras para uma melhor da fixação dos produtos, higienize a unha utilizando o <a href="{% url 'prep' %}">Prep Unique</a>.</li></ul>
						</div>
					</div>
				</div>

				<!-- Passo 2 -->
				<div class="carousel-item" data-bs-interval="8000">
					<div class="d-block justify-content-center d-flex flex-wrap">
						<div class="borda-fundo-vermelho position-relative ">
							<div class="imagem-passo-1 position-absolute d-flex justify-content-center align-items-center">
								<img src="{% static 'img/Produtos/ph-bonder-block.png' %}">
							</div>
							<div class="detalhe-fundo-vermelho position-absolute">
								<div class="position-relative">
									<img src="{% static '/img/geis/detalhe-passoapasso.png' %}">
									<div class="position-absolute numero-passoapasso">
										<h1>2</h1>
									</div>
								</div>

							</div>
						</div>
						<div class="passoapasso-fundo-texto p-2 d-flex justify-content-center align-items-center">
							<ul><li>Depois da unha devidamente higienizada com o <a href="{% url 'prep' %}">Prep Unique</a>, aplique cuidadosamente o <a href="{% url 'phBonder' %}">PH Bonder Unique</a> para desidratar a lâmina ungueal e retirar qualquer excesso de oleosidade presente na unha.
							</li></ul>
						</div>
					</div>
				</div>

				<!-- Passo 3 -->
				<div class="carousel-item" data-bs-interval="8000">
					<div class="d-block justify-content-center d-flex flex-wrap">
						<div class="borda-fundo-vermelho position-relative ">
							<div class="imagem-passo-1 position-absolute d-flex justify-content-center align-items-center">
								<img src="{% static '/img/Produtos/acido-adesivador.png' %}">
							</div>
							<div class="detalhe-fundo-vermelho position-absolute">
								<div class="position-relative">
									<img src="{% static '/img/geis/detalhe-passoapasso.png' %}">
									<div class="position-absolute numero-passoapasso">
										<h1>3</h1>
									</div>
								</div>

							</div>
						</div>
						<div class="passoapasso-fundo-texto p-2 d-flex justify-content-center align-items-center">
							<ul><li>Após a secagem do <a href="{% url 'phBonder' %}">PH Bonder Unique</a>, aplique cuidadosamente e sem tocar na cutícula o <a href="{% url 'primerAcido' %}"> Primer Ácido Unique Nail </a> e após a secagem do mesmo, utilize o <a href="{% url 'primerAdesivador' %}">Primer Adesivador Unique Nail</a> e deixar secar naturalmente.
							</li></ul>
						</div>
					</div>
				</div>

				<!-- Passo 4 -->
				<div class="carousel-item" data-bs-interval="8000">
					<div class="d-block justify-content-center d-flex flex-wrap">
						<div class="borda-fundo-vermelho position-relative ">
							<div
								class="imagem-passo-1 position-absolute d-flex justify-content-center align-items-center">
								<img src="{% static 'img/geis/gelbase.png' %}">
							</div>
							<div class="detalhe-fundo-vermelho position-absolute">
								<div class="position-relative">
									<img src="{% static '/img/geis/detalhe-passoapasso.png' %}">
									<div class="position-absolute numero-passoapasso">
										<h1>4</h1>
									</div>
								</div>

							</div>
						</div>
						<div class="passoapasso-fundo-texto p-2 d-flex justify-content-center align-items-center">
							<ul><li>Com a preparação inicial da unha feita inicie o processo de utilização do gel, fazendo a capa base com o <a href="{% url 'gelBase' %}">Gel Base Unique Nail</a>, Leve na cabine para polimerizar por 30seg.</li></ul>
						</div>
					</div>
				</div>

				<!-- Passo 5 -->
				<div class="carousel-item" data-bs-interval="8000">
					<div class="d-block justify-content-center d-flex flex-wrap">
						<div class="borda-fundo-vermelho position-relative ">
							<div
								class="imagem-passo-1 position-absolute d-flex justify-content-center align-items-center">
								<img src="{% static 'img/geis/todos-geis.png' %}">
							</div>
							<div class="detalhe-fundo-vermelho position-absolute">
								<div class="position-relative">
									<img src="{% static '/img/geis/detalhe-passoapasso.png' %}">
									<div class="position-absolute numero-passoapasso">
										<h1>5</h1>
									</div>
								</div>

							</div>
						</div>
						<div class="passoapasso-fundo-texto p-2 d-flex justify-content-center align-items-center">
							<ul>
                                <li>Após a capa base feita, inicie a construção da unha utilizando os <a href="{% url 'geis' %}">Géis Builder Unique Nail</a> da sua escolha:
                                    <ul>
                                        <li>Pré Curvatura: 5seg,</li>
                                        <li>Curvatura do Ponto de Tensão: 10seg,</li>
                                        <li>Polimerização total: 120seg.</li>
                                    </ul>
                                </li>
                            </ul>
						</div>
					</div>
				</div>

                <!-- Passo 6 -->
				<div class="carousel-item" data-bs-interval="8000">
					<div class="d-block justify-content-center d-flex flex-wrap">
						<div class="borda-fundo-vermelho position-relative ">
							<div
								class="imagem-passo-1 position-absolute d-flex justify-content-center align-items-center">
								<img src="{% static 'img/Produtos/cleanser-block.png' %}">
							</div>
							<div class="detalhe-fundo-vermelho position-absolute">
								<div class="position-relative">
									<img src="{% static '/img/geis/detalhe-passoapasso.png' %}">
									<div class="position-absolute numero-passoapasso">
										<h1>6</h1>
									</div>
								</div>

							</div>
						</div>
						<div class="passoapasso-fundo-texto p-2 d-flex justify-content-center align-items-center">
							<ul><li> Após polimerização, utilize o <a href= "{% url 'cleanser' %}">Cleanser Plus Unique Nail</a> para fazer a limpeza da camada de dispersão do gel.</li></ul>
						</div>
					</div>
				</div>

                <!-- Passo 7 -->
				<div class="carousel-item" data-bs-interval="8000">
					<div class="d-block justify-content-center d-flex flex-wrap">
						<div class="borda-fundo-vermelho position-relative ">
							<div
								class="imagem-passo-1 position-absolute d-flex justify-content-center align-items-center">
								<img src="{% static 'img/Produtos/top-coat-block.png' %}">
							</div>
							<div class="detalhe-fundo-vermelho position-absolute">
								<div class="position-relative">
									<img src="{% static '/img/geis/detalhe-passoapasso.png' %}">
									<div class="position-absolute numero-passoapasso">
										<h1>7</h1>
									</div>
								</div>

							</div>
						</div>
						<div class="passoapasso-fundo-texto p-2 d-flex justify-content-center align-items-center">
							<ul><li>Após o lixamento técnico, faça a limpeza completa de todos resíduos e aplique o <a href="{% url 'topCoat' %}">Top Coat Unique Nail</a> para uma finalização com alto padrão e brilho, leve na cabine para polimerizar por 60seg.</li></ul>
						</div>
					</div>
				</div>

			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
				data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
				data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>

	</section>


	<!-- ------------------------------ Precauções -------------------------- -->

	<section class="modo-de-usar">
		<article class="modo-de-usar-descricao m-auto">
			
			<h2 class="pt-5 mb-3 ps-3 titulo-gel">Precauções:</h2>
			<p class="mb-0 px-3">
				Mantenha a embalagem fechada após o uso.
				Faça a prova de toque: Aplique uma pequena quantidade no antebraço e observe se não ocorrerá nenhum tipo
				de sensibilização. Não aplicar sobre a pele irritada ou lesionada. Em caso de contato com os olhos,
				lavar com água em abundância. Suspender o uso em caso de irritação. Manusear em local arejado e manter
				lonje do calor e do fogo (não armazenar em temperatura acima de 40°C). Manter fora do alcance de
				crianças e animais domésticos.
			</p>
		</article>
	</section>

	<!-- --------------------------- Perguntas Frequentes ------------------------- -->
	<section class="modo-de-usar">
		<article class="modo-de-usar-descricao m-auto">
			<div class="linha-sep m-auto">
				<img class="w-100" src="/static/img/geis/linha-gel-icone.png"
					alt="Ícone de separação de conteúdo com gel">
			</div>
			<h2 class="mt-4 mb-3 ps-3 titulo-gel">Perguntas Frequentes:</h2>
			<div class="accordion accordion-flush pb-5" id="accordionFlushExample">

				<!-- Pergunta 1 -->
				<div class="accordion-item">
					<h2 class="accordion-header" id="flush-headingOne">
						<button class="accordion-button collapsed perguntas" type="button" data-bs-toggle="collapse"
							data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
							Posso passar esse gel só para mudar o tom de cor das unhas?
						</button>
					</h2>
					<div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
						data-bs-parent="#accordionFlushExample">
						<div class="accordion-body">Placeholder content for this accordion, which is intended to
							demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion
							body.</div>
					</div>
				</div>

				<!-- Pergunta 2 -->
				<div class="accordion-item">
					<h2 class="accordion-header" id="flush-headingTwo">
						<button class="accordion-button collapsed perguntas" type="button" data-bs-toggle="collapse"
							data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
							Qual o melhor gel para fazer a estrutura da unha?
						</button>
					</h2>
					<div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
						data-bs-parent="#accordionFlushExample">
						<div class="accordion-body">Placeholder content for this accordion, which is intended to
							demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion
							body. Let's imagine this being filled with some actual content.</div>
					</div>
				</div>

				<!-- Pergunta 3 -->
				<div class="accordion-item">
					<h2 class="accordion-header" id="flush-headingThree">
						<button class="accordion-button collapsed perguntas" type="button" data-bs-toggle="collapse"
							data-bs-target="#flush-collapseThree" aria-expanded="false"
							aria-controls="flush-collapseThree">
							Qual o tempo de secagem do Gel?
						</button>
					</h2>
					<div id="flush-collapseThree" class="accordion-collapse collapse"
						aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
						<div class="accordion-body">O Gel Builder leva cerca de 60 segundos em cabine LED/UV para secar,
							para se certificar faça a prova de toque.</div>
					</div>
				</div>

				<!-- Pergunta 4 -->
				<div class="accordion-item">
					<h2 class="accordion-header" id="flush-headingFive">
						<button class="accordion-button collapsed perguntas" type="button" data-bs-toggle="collapse"
							data-bs-target="#flush-collapseFive" aria-expanded="false"
							aria-controls="flush-collapseFive">
							Qual a quantidade devo usar por camada?
						</button>
					</h2>
					<div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive"
						data-bs-parent="#accordionFlushExample">
						<div class="accordion-body">Placeholder content for this accordion, which is intended to
							demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion
							body. Nothing more exciting happening here in terms of content, but just filling up the
							space to make it look, at least at first glance, a bit more representative of how this would
							look in a real-world application.</div>
					</div>
				</div>

				<!-- Pergunta 5 -->
				<div class="accordion-item">
					<h2 class="accordion-header" id="flush-headingSix">
						<button class="accordion-button collapsed perguntas" type="button" data-bs-toggle="collapse"
							data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
							Se deixar o gel por muito tempo na unha, ele pode trazer algum malefício?
						</button>
					</h2>
					<div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix"
						data-bs-parent="#accordionFlushExample">
						<div class="accordion-body">Placeholder content for this accordion, which is intended to
							demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion
							body. Nothing more exciting happening here in terms of content, but just filling up the
							space to make it look, at least at first glance, a bit more representative of how this would
							look in a real-world application.</div>
					</div>
				</div>

				<!-- Pergunta 6 -->
				<div class="accordion-item">
					<h2 class="accordion-header" id="flush-headingSeven">
						<button class="accordion-button collapsed perguntas" type="button" data-bs-toggle="collapse"
							data-bs-target="#flush-collapseSeven" aria-expanded="false"
							aria-controls="flush-collapseSeven">
							Com esse gel eu consigo fazer o esqueleto inicial da unha?
						</button>
					</h2>
					<div id="flush-collapseSeven" class="accordion-collapse collapse"
						aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
						<div class="accordion-body">Placeholder content for this accordion, which is intended to
							demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion
							body. Nothing more exciting happening here in terms of content, but just filling up the
							space to make it look, at least at first glance, a bit more representative of how this would
							look in a real-world application.</div>
					</div>
				</div>

				<!-- Pergunta 7 -->
				<div class="accordion-item">
					<h2 class="accordion-header" id="flush-headingEight">
						<button class="accordion-button collapsed perguntas" type="button" data-bs-toggle="collapse"
							data-bs-target="#flush-collapseEight" aria-expanded="false"
							aria-controls="flush-collapseEight">
							Como faço para remover esse Gel? Quais produtos posso passar?
						</button>
					</h2>
					<div id="flush-collapseEight" class="accordion-collapse collapse"
						aria-labelledby="flush-headingEight" data-bs-parent="#accordionFlushExample">
						<div class="accordion-body">Placeholder content for this accordion, which is intended to
							demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion
							body. Nothing more exciting happening here in terms of content, but just filling up the
							space to make it look, at least at first glance, a bit more representative of how this would
							look in a real-world application.</div>
					</div>
				</div>
			</div>
		</article>
	</section>
</main>

{% include 'partials/footer.html' %}

{% endblock %}