	{% load static %}
	
	<!-- Inicio Navbar -->
	<header class="fixed-top">
		<nav class="navbar navbar-expand-lg nav-background navbar-light" id="navbar">
			<div class="container-fluid barra-de-menu">
				<a href="{% url 'index' %}"> <img class="logo" src="/static/img/logo-unique-dark.png" /> </a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
					aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse justify-content-end menu-items " id="navbarNav">
					<ul class="navbar-nav links-do-menu">
						<li class="menu-link">
							<a aria-current="page" href="{% url 'index' %}">Inicio</a>
						</li>
					
						<li class="menu-link">
							<a href="{% url 'sobre' %}">Sobre</a>
						</li>

						<li class="menu-link">
							<a href="{% url 'geis' %}">Géis</a>
						</li>

						<li class="menu-link">
							<a href="{% url 'higienizadores' %}">Higienizadores</a>
						</li>

						<li class="menu-link">
							<a href="{% url 'blindagem' %}">Blindagem</a>
						</li>

						<li class="menu-link">
							<a href="{% url 'remov' %}">Removedor</a>
						</li>

						<li class="menu-link">
							<a href="{% url 'monomer' %}">Acrílico</a>
						</li>

						<li class="menu-link">
							<a href="{% url 'brocas' %}">Brocas</a>
						</li>
						<!-- <li class="nav-item dropdown">
							<a class="nav-link teste-dropdown dropdown-toggle" id="navbarDropdownMenuLink" role="button"
								data-bs-toggle="dropdown" aria-expanded="false">Produtos</a>
							<ul class="dropdown-menu lista-aberta" aria-labelledby="navbarDropdownMenuLink">
								<li><a class="dropdown-item" href="{% url 'geis' %}">Géis</a></li>
								<li>
									<hr class="dropdown-divider">
								</li>
								<li><a class="dropdown-item" href="{% url 'higienizadores' %}">Higienizadores</a></li>
								<li>
									<hr class="dropdown-divider">
								</li>
								<li><a class="dropdown-item" href="{% url 'blindagem' %}">Blindagem</a></li>
								<li>
									<hr class="dropdown-divider">
								</li>
								<li><a class="dropdown-item" href="{% url 'remov' %}">Removedor</a></li>
								<li>
									<hr class="dropdown-divider">
								</li>
								<li><a class="dropdown-item" href="{% url 'monomer' %}">Acrílico</a></li>
								<li>
									<hr class="dropdown-divider">
								</li>
								<li><a class="dropdown-item" href="{% url 'brocas' %}">Brocas</a></li>
							</ul>
						</li> -->
						<li class="menu-link">
							<a href="https://linktr.ee/uniquenail.oficial" target="_blank">Contato</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
