{% extends 'base.html' %}
{% load static %}
{% block content %}

{% include 'partials/menu.html' %}


<main class="blindagem-corpo">

    <section class="inicio-blindagem">
        <div class="d-flex justify-content-center mx-3">
           <img data-aos="zoom-in" class="geis-imagem" src="{% static 'img/blindagem/blindagem-art.png' %}"
               alt="imagem dos geis unique nail">
        </div> 
   </section>


    <!-- -------------------------- Cards -------------------------------- -->
    <section class="cards-blindagem m-auto py-4">
    

        <!-- ---------------------- Card 1 ------------------------------- -->
        <div class="card-b">
            <h6 class="titulo-blind">Prep 10ml - Passo 1</h6>
            <img class="blindagem-img" src="{% static 'img/blindagem/passo-1-shadow.webp' %}" alt="Prep 10ml Passo 1 - Unique Nail">
            <a href="{% url 'passo1' %}"><img class="icone-mais" src="{% static 'img/blindagem/icone-mais.png' %}" alt="Ícone saiba mais"></a>
        </div>

        <!-- ---------------------- Card 2 ------------------------------- -->
        <div class="card-b">
            <h6 class="titulo-blind">Fuse 10ml - Passo 2</h6>
            <img class="blindagem-img" src="{% static 'img/blindagem/passo-2-shadow.webp' %}" alt="Fuse 10ml Passo 2 - Unique Nail">
            <a href="{% url 'passo2' %}"><img class="icone-mais" src="{% static 'img/blindagem/icone-mais.png' %}" alt="Ícone saiba mais"></a>
        </div>

        <!-- ---------------------- Card 3 ------------------------------- -->
        <div class="card-b">
            <h6 class="titulo-blind">Base 10ml - Passo 3</h6>
            <img class="blindagem-img" src="{% static 'img/blindagem/passo-3-shadow.webp' %}" alt="Base 10ml Passo 3 - Unique Nail">
            <a href="{% url 'passo3' %}"><img class="icone-mais" src="{% static 'img/blindagem/icone-mais.png' %}" alt="Ícone saiba mais"></a>
        </div>
    
        <!-- ---------------------- Card 4 ------------------------------- -->
        <div class="card-b">
            <h6 class="titulo-blind">Top 10ml - Passo 5</h6>
            <img class="blindagem-img" src="{% static 'img/blindagem/passo-5-shadow.webp' %}" alt="Top 10ml Passo 5 - Unique Nail">
            <a href="{% url 'passo5' %}"><img class="icone-mais" src="{% static 'img/blindagem/icone-mais.png' %}" alt="Ícone saiba mais"></a>
        </div>

        <!-- ---------------------- Card 5 ------------------------------- -->
        <div class="card-b">
            <h6 class="titulo-blind">Kit Blindagem 4 Itens</h6>
            <img class="blindagem-img pe-1" src="{% static 'img/blindagem/kit-blindagem-shadow.webp' %}" alt="Kit Blindagem 4 itens">
            <a href="{% url 'kitblindagem' %}"><img class="icone-mais" src="{% static 'img/blindagem/icone-mais.png' %}" alt="Ícone saiba mais"></a>
        </div>

    </section>

</main>

{% include 'partials/footer.html' %}

{% endblock %}