{% extends 'base.html' %}
{% load static %}
{% block content %}

{% include 'partials/menu.html' %}


<main class="brocas-corpo">
    <section class="img-brocas-inicio">
        <img src="/static/img/brocas/cabecalho-brocas.png" alt="Conjunto de brocas Unique Nail">
    </section>
    
    <hr class="linha-detalhe-inicio">

    <h1 class="titulo-brocas-diamantadas">Brocas Diamantadas</h1>

    <h2 class="texto-introducao-brocas">(Texto só de exemplo não podemos usar.) Toda manicure sabe da importância de possuir os equipamentos corretos para alcançar a maestria em seu trabalho e também reduzir o tempo, como a broca para unhas. O uso de broca unha de gel é um dos que mais afeta na rapidez e qualidade, por isso é um acessório crucial para o profissional. Conheça os nossos modelos disponíveis.</h2>

    <!-- ------------ Ponta Esférica ----------- -->

    <section class="categoria-brocas">
        <div class="titulo-broca">
            <h3>Ponta Esférica</h3>
        </div>
        <article class="informacao-broca">
            <p>Ajuda na tarefa de dar a melhor curvatura para a unha, criando os ângulos de sustentação. Ela também é usada para nivelar e deixar o acabamento impecável, um fator importante para o profissional e na satisfação do cliente.</p>
        </article>
        <div class="img-brocas">
            <img src="/static/img/brocas/ponta-esferica.png" alt="Brocas com ponta esférica Unique Nail">
        </div>
    </section>


    <!-- ----------------- Ponta Flat ----------------- -->

    <section>
        <div class="titulo-broca">
            <h3>Ponta Flat</h3>
        </div>
        <article class="informacao-broca">
            <p>Ajuda na tarefa de dar a melhor curvatura para a unha, criando os ângulos de sustentação. Ela também é usada para nivelar e deixar o acabamento impecável, um fator importante para o profissional e na satisfação do cliente.</p>
        </article>
        <div class="img-brocas">
            <img src="/static/img/brocas/ponta-flat.png" alt="Brocas com ponta flat Unique Nail">
        </div>
    </section>


    <!-- ------------ Ponta Cônica Invertida ----------- -->

    <section class="categoria-brocas">
        <div class="titulo-broca">
            <h3>Ponta Cônica Invertida</h3>
        </div>
        <article class="informacao-broca">
            <p>Ajuda na tarefa de dar a melhor curvatura para a unha, criando os ângulos de sustentação. Ela também é usada para nivelar e deixar o acabamento impecável, um fator importante para o profissional e na satisfação do cliente.</p>
        </article>
        <div class="img-brocas">
            <img src="/static/img/brocas/ponta-conica-invertida.png" alt="Brocas com ponta cônica invertida Unique Nail">
        </div>
    </section>


    <!-- --------------- Ponta Cilindrica --------------- -->

    <section>
        <div class="titulo-broca">
            <h3>Ponta Cilindrica</h3>
        </div>
        <article class="informacao-broca">
            <p>Ajuda na tarefa de dar a melhor curvatura para a unha, criando os ângulos de sustentação. Ela também é usada para nivelar e deixar o acabamento impecável, um fator importante para o profissional e na satisfação do cliente.</p>
        </article>
        <div class="img-brocas">
            <img src="/static/img/brocas/ponta-cilindrica-1.png" alt="Brocas com ponta cilindrica Unique Nail">
            <img src="/static/img/brocas/ponta-cilindrica-2.png" alt="Brocas com ponta cilindrica Unique Nail">
        </div>
    </section>


    <!-- ----------------- Ponta Cônica ----------------- -->

    <section class="categoria-brocas">
        <div class="titulo-broca">
            <h3>Ponta Cônica</h3>
        </div>
        <article class="informacao-broca">
            <p>Ajuda na tarefa de dar a melhor curvatura para a unha, criando os ângulos de sustentação. Ela também é usada para nivelar e deixar o acabamento impecável, um fator importante para o profissional e na satisfação do cliente.</p>
        </article>
        <div class="img-brocas">
            <img src="/static/img/brocas/ponta-conica-1.png" alt="Brocas com ponta cônica Unique Nail">
            <img src="/static/img/brocas/ponta-conica-2.png" alt="Brocas com ponta cônica Unique Nail">
            <img src="/static/img/brocas/ponta-conica-3.png" alt="Brocas com ponta cônica Unique Nail">
            <img src="/static/img/brocas/ponta-conica-4.png" alt="Brocas com ponta cônica Unique Nail">
        </div>
    </section>


    <!-- ----------------- Ponta Chama ----------------- -->

    <section>
        <div class="titulo-broca">
            <h3>Ponta Chama</h3>
        </div>
        <article class="informacao-broca">
            <p>Ajuda na tarefa de dar a melhor curvatura para a unha, criando os ângulos de sustentação. Ela também é usada para nivelar e deixar o acabamento impecável, um fator importante para o profissional e na satisfação do cliente.</p>
        </article>
        <div class="img-brocas">
            <img src="/static/img/brocas/ponta-chama.png" alt="Brocas com ponta chama Unique Nail">
        </div>
    </section>

    
    <!-- ------------------- Mandril ------------------- -->

    <section class="categoria-brocas">
        <div class="titulo-broca">
            <h3>Mandril</h3>
        </div>
        <article class="informacao-broca">
            <p>Ajuda na tarefa de dar a melhor curvatura para a unha, criando os ângulos de sustentação. Ela também é usada para nivelar e deixar o acabamento impecável, um fator importante para o profissional e na satisfação do cliente.</p>
        </article>
        <div class="img-brocas">
            <img src="/static/img/brocas/mandril.png" alt="Brocas com ponta cônica Unique Nail">
        </div>
    </section>

</main>


{% include 'partials/footer.html' %}
{% endblock %}