{% extends 'base.html' %}
{% load static %}
{% block content %}

{% include 'partials/menu.html' %}


<main class="blindagem-corpo">

    <!-- ---------------------- Paralaxee prep --------------------------- -->
    <div class="paralaxe-blind">
        <div class="inicio-blind">
            <h1 class="titulo-blind-principal">Adesão, proteção e fortalecimento das unhas.</h1>
        </div>
    </div>


    <!-- -------------------------- Cards -------------------------------- -->
    <section class="cards-blindagem m-auto py-4">
    

        <!-- ---------------------- Card 2 ------------------------------- -->
        <div class="card-b">
            <h6 class="titulo-blind">Cleanser Plus - 120ml</h6>
            <img class="blindagem-img" src="{% static 'img/higienizadores/cleanser-120-shadow.png' %}" alt="Cleanser Plus - Spray Unique Nail">
            <a href="{% url 'cleanser' %}"><img class="icone-mais" src="{% static 'img/blindagem/icone-mais.png' %}" alt="Ícone saiba mais"></a>
        </div>

        <!-- ---------------------- Card 2 ------------------------------- -->
        <div class="card-b">
            <h6 class="titulo-blind">Top Coat - 10ml</h6>
            <img class="blindagem-img" src="{% static 'img/blindagem/topcoat-shadow.png' %}" alt="Top Coat Unique Nail">
            <a href="{% url 'topCoat' %}"><img class="icone-mais" src="{% static 'img/blindagem/icone-mais.png' %}" alt="Ícone saiba mais"></a>
        </div>

        <!-- ---------------------- Card 3 ------------------------------- -->
         <!-- <div class="card-b">
            <h6 class="titulo-blind">Óleo Hidratante - 10ml</h6>
            <img class="blindagem-img" src="{% static 'img/blindagem/essencialaranja-shadow.png' %}" alt="Óleo Hidratante Unique Nail">
            <a><img class="icone-mais" src="{% static 'img/blindagem/icone-mais.png' %}" alt="Ícone de mais"></a>
        </div>  -->
    </section>

</main>

{% include 'partials/footer.html' %}

{% endblock %}