{% extends 'base.html' %}
{% load static %}
{% block content %}

{% include 'partials/menu.html' %}


<main>

	<!-- ---------------------- Introdução aos Géis ---------------------- -->

	<section class="inicio-geis">

		 <div class="d-flex justify-content-center mx-3">
			<img data-aos="zoom-in" class="geis-imagem" src="/static/img/geis/geis-builder-titulo-med.png"
				alt="imagem dos geis unique nail">
		</div> 

		<!--<div class="linha-sep m-auto d-flex pt-5">
			<img class="w-100" src="/static/img/geis/linha-gel-icone.png" alt="Ícone de separação de conteúdo com gel">
		</div>-->
	</section>


	<!-- ------------------------- Lista de Geis ------------------------- -->

	<section class="geis-lista">
		<article class="geis-descricao m-auto">

			<h5 class="text-center pb-3">Os géis Builder são de característica Hard e Autonivelante. Também são
				construtores e proporcionam um aspecto natural, durabilidade e resistência, conforme aplicação.</h5>

			<!-- -------------------- Cards ----------------------------- -->

			<div class="cards-geis justify-content-center pb-5 flex-row flex-wrap d-flex">
				<!-- -------------------- Card 1 ----------------------------- -->
				<div data-aos="fade-right" class="card-gel my-2 text-center">
					<h6 class="text-center m-auto my-2 titulo-geis">Gel Base - Maior Aderência</h6>
					<img class="dimensiona-geis" src="{% static 'img/geis/base-1.png' %}" alt="Gel Unique Nail">
					<a href="{% url 'gelBase' %}"><img class="icone-mais-geis" src="{% static 'img/blindagem/icone-mais.png' %}" alt="Ícone saiba mais"></a>
				</div>

				<!-- -------------------- Card 2 ----------------------------- -->
				<div data-aos="fade-right" class="card-gel my-2 text-center">
					<h6 class="text-center m-auto my-2 titulo-geis">GEL PINK NUDE - HARD</h6>
					<img class="dimensiona-geis" src="{% static 'img/geis/pink-nude-7.png' %}" alt="Gel Pink Nude Unique Nail">
					<a href="{% url 'gelPinkNude' %}"><img class="icone-mais-geis" src="{% static 'img/blindagem/icone-mais.png' %}" alt="Ícone saiba mais"></a>
				</div>

				<!-- -------------------- Card 3 ----------------------------- -->
				<div data-aos="fade-right" class="card-gel my-2 text-center">
					<h6 class="text-center m-auto my-2 titulo-geis">GEL COVER - HARD</h6>
					<img class="dimensiona-geis" src="{% static 'img/geis/cover-3.png' %}" alt="Gel White Unique Nail">
					<a href="{% url 'gelCover' %}"><img class="icone-mais-geis" src="{% static 'img/blindagem/icone-mais.png' %}" alt="Ícone saiba mais"></a>
				</div>

				<!-- -------------------- Card 4 ----------------------------- -->
				<div data-aos="fade-right" class="card-gel my-2 text-center">
					<h6 class="text-center m-auto my-2 titulo-geis">GEL CLEAR - HARD</h6>
					<img class="dimensiona-geis" src="{% static 'img/geis/clear-5.png' %}" alt="Gel Clear Unique Nail"></a>
					<a href="{% url 'gelClear' %}"><img class="icone-mais-geis" src="{% static 'img/blindagem/icone-mais.png' %}" alt="Ícone saiba mais"></a>
				</div>
				
				<!-- -------------------- Card 5 ----------------------------- -->
				<div data-aos="fade-right" class="card-gel my-2 text-center">
					<h6 class="text-center m-auto my-2 titulo-geis">GEL PINK - HARD</h6>
					<img class="dimensiona-geis" src="{% static 'img/geis/pinknovo-4.gif' %}" alt="Gel Pink Unique Nail">
					<a href="{% url 'gelPink' %}"><img class="icone-mais-geis" src="{% static 'img/blindagem/icone-mais.png' %}" alt="Ícone saiba mais"></a>
				</div>
				
				<!-- -------------------- Card 6 ----------------------------- -->
				<div data-aos="fade-right" class="card-gel my-2 text-center">
					<h6 class="text-center m-auto my-2 titulo-geis">GEL NUDE - HARD</h6>
					<img class="dimensiona-geis" src="{% static 'img/geis/nude-6.png' %}" alt="Gel Nude Unique Nail">
					<a href="{% url 'gelNude' %}"><img class="icone-mais-geis" src="{% static 'img/blindagem/icone-mais.png' %}" alt="Ícone saiba mais"></a>
				</div>
				
				<!-- -------------------- Card 7 ----------------------------- -->
				<div data-aos="fade-right" class="card-gel my-2 text-center">
					<h6 class="text-center m-auto my-2 titulo-geis">GEL WHITE - DECORAÇÃO</h6>
					<img class="dimensiona-geis" src="{% static 'img/geis/white-2.png' %}" alt="Gel White Unique Nail">
					<a href="{% url 'gelWhite' %}"><img class="icone-mais-geis" src="{% static 'img/blindagem/icone-mais.png' %}" alt="Ícone saiba mais"></a>
				</div>
			</div>
		</article>
	</section>

</main>

{% include 'partials/footer.html' %}

{% endblock %}