{% extends 'base.html' %}
{% load static %}
{% block content %}

{% include 'partials/menu.html' %}

<main>

	<!-- Parte Inicial da página -->
	<div class="background">
		<section class="introducao m-auto">
			<div class="apresentacao px-3 m-auto">
				<div data-aos="fade-right">
					<h3 class="mt-4">Bem vindo ao maior site do Brasil relacionado ao universo das unhas.</h3>
				</div>

				<div data-aos="zoom-in" class="titulo1">
					<h1>Unique Nail</h1>
				</div>
				<h2>A UNIQUE NAIL, apresenta uma nova geração de produtos para unhas, como o Gel Builder, que é o
					primeiro gel Hipoalergênico de alta performance.</h2>
				<a href="{% url 'sobre'  %}"
					class="botao1 mt-5 b-kit align-items-center d-flex justify-content-center cor-botao">Saiba
					Mais!</a>
				<picture>
					<source class="sede-unique-retrato" media="(max-width: 600px)"
						srcset="/static/img/sede-unique-retrato.webp">
					<img class="sede-unique" src="/static/img/sede-unique.webp" alt="Sede Unique Nail International">
				</picture>

			</div>

		</section>

		<!-- Galeria -->
		<section class="galeria m-auto p-2">

			<!-- Linha de Separação -->
			<picture class="linha-de-separacao d-flex w-100 justify-content-center mb-5">
				<source media="(max-width: 700px)" srcset="/static/img/golden-line-nails-peq.png">
				<img class="w-80" src="/static/img/golden-line-nails.png" alt="Linha dourada com ícone centralizado">
			</picture>

			<picture class="d-flex galeria-imagens justify-content-center flex-wrap">
				<div data-aos="zoom-in-right">
					<a href="https://suabrocadiamantada.com.br/" target="_blank"><img class="img-responsive" src="/static/img/galeria/galeria-1.webp" alt="Brocas terceirizadas Unique Nail"></a>
				</div>

				<div data-aos="zoom-in">
					<a href="https://mundodasunhas.com.br/search/?q=builder" target="_blank"><img class="img-responsive" src="/static/img/galeria/galeria-2.webp" alt="Builder Geis Unique Nail"></a>
				</div>

				<div data-aos="zoom-in-right">
					<a href="https://wa.me/553181213831" target="_blank"><img class="img-responsive" src="/static/img/galeria/galeria-3.webp" alt="Gel Cover Unique Nail"></a>
				</div>

				<div data-aos="zoom-in-right">
					<img class="img-responsive" src="/static/img/galeria/galeria-4.webp" alt="Gel White Unique Nail">
				</div>

				<div data-aos="zoom-in">
					<img class="img-responsive" src="/static/img/galeria/galeria-5.webp" alt="Cursos Unique Nail">
				</div>

				<div data-aos="zoom-in-right">
					<img class="img-responsive" src="/static/img/galeria/galeria-6.webp" alt="Gel Nude Unique Nail">
				</div>
			</picture>
		</section>

		<!-- Background de divisão -->
		<div class="background-1"> <img src="/static/img/background-1.png" alt="Emenda"></div>
	</div>

	<!-- Inicio Kit Iniciante -->
	<div class="background-2">
		<section class="kit-iniciante titulos mb-3 text-center">
			<h2 data-aos="zoom-in">A melhor forma de iniciar como Nail Designer.</h2>
			<h1 data-aos="zoom-in"> Conheça nosso Kit Iniciante</h1>
			<div class="kit-8-produtos mt-5">
				<div class="kit-8-posicao container">
					<div class="row">
						<div class="produtos-limpeza col-lg-5 col-md-5 d-flex justify-content-center mt-3">
							<!-- Cleanser -->
							<a href="{% url 'higienizadores' %}">
								<img class="ps-5" src="/static/img/Produtos/cleanser-block.png"
									alt="Cleanser Unique Nail">
							</a>
							<!-- Prep -->
							<a href="{% url 'higienizadores' %}">
								<img class="ps-2" src="/static/img/Produtos/prep-block.png" alt="Prep Unique Nail">
							</a>
						</div>
						<div
							class="produtos-10ml-geis col-lg-7 col-md-7 d-flex flex-wrap justify-content-center mt-4 pe-5">
							<!-- Top Coat -->
							<a href="{% url 'topCoat' %}">
								<img class="pe-2 pb-2 pt-3" src="/static/img/Produtos/top-coat-block.png"
									alt="Top Coat Unique Nail">
							</a>
							<!-- PH Bonder -->
							<a href="{% url 'phBonder' %}">
								<img class="pe-2 pb-2 pt-3" src="/static/img/Produtos/ph-bonder-block.png"
									alt="Ph Bonder Unique Nail">
							</a>
							<!-- Primer Ácido -->
							<a href="{% url 'primerAcido' %}">
								<img class="pe-2 pb-2 pt-3" src="/static/img/Produtos/primer-acido-block.png"
									alt="Primer Ácido Unique Nail">
							</a>
							<!-- Primer Adesivador -->
							<a href="{% url 'primerAdesivador' %}">
								<img class="pe-2 pb-2 pt-3" src="/static/img/Produtos/primer-adesivador-block.png"
									alt="Primer Adesivador Unique Nail">
							</a>
							<!-- Gel Base -->
							<a href="{% url 'gelBase' %}">
								<img class="pt-4 p-1" src="/static/img/Produtos/base-block.png"
									alt="Gel Base Unique Nail">
							</a>
							<!-- Gel Pink -->
							<a href="{% url 'gelPink' %}">
								<img class="pt-4 p-1" src="/static/img/Produtos/pink-block.png"
									alt="Gel Pink Unique Nail">
							</a>
						</div>
					</div>
				</div>
			</div>
			<article>
				<div class="kit-info m-auto container">
					<div class="row">
						<div class="col-lg-6 p-4 fst-italic text-start d-flex align-items-center ">
							<h5 data-aos="fade-up">UNIQUE NAIL - KIT INICIANTE COM 8 PRODUTOS</h5>
						</div>
						<div class="col-lg-3 p-2 d-flex text-start align-items-center justify-content-center" data-aos="fade-down">
							<ol>
								<li>Cleanser Plus 120ml</li>
								<li>Prep 120ml</li>
								<li>Top Coat 10ml</li>
								<li>Ph Bonder 10ml</li>
								<li>Primer Ácido 10ml</li>
								<li>Primer Adesivador 10ml</li>
								<li>Gel Builder Base 20g</li>
								<li>Gel Builder Pink 25g</li>
							</ol>
						</div>
						<div class="col-lg-3 d-flex align-items-center justify-content-center p-3" data-aos="fade-up">
							<a href="https://mundodasunhas.com.br/produtos/unique-nail-kit-iniciante-8-produtos/" target="_blank"
								class="b-kit align-items-center d-flex justify-content-center cor-botao">COMPRAR</a>
						</div>
					</div>
				</div>
			</article>
		</section>
	</div>

</main>

{% include 'partials/footer.html' %}

{% endblock %}