{% extends 'base.html' %}
{% load static %}
{% block content %}

{% include 'partials/menu.html' %}

<main>

	<!-- Parte Inicial da página -->
	<div class="background">
		<section class="introducao m-auto">
			<div class="apresentacao px-3 m-auto">
				<div data-aos="fade-right">
					<h3 class="mt-4">Bem vindo ao maior site do Brasil relacionado ao universo das unhas.</h3>
				</div>

				<div data-aos="zoom-in" class="titulo1">
					<h1>Unique Nail</h1>
				</div>
				<h2>A UNIQUE NAIL, apresenta uma nova geração de produtos para unhas, como o Gel Builder, que é o
					primeiro gel Hipoalergênico de alta performance.</h2>
				<a href="/templates/sobre.html"
					class="botao1 mt-5 b-kit align-items-center d-flex justify-content-center cor-botao">Saiba
					Mais!</a>
				<div class="video1">
					<iframe width="600" height="420" src="https://www.youtube.com/embed/WJUdqD1LMtA?controls=0"
						title="YouTube video player" frameborder="0"
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
						allowfullscreen></iframe>
				</div>
			</div>

		</section>

		<!-- Galeria -->
		<section class="galeria m-auto mt-5 p-2">

			<!-- Linha de Separação -->
			<picture class="linha-de-separacao d-flex w-100 justify-content-center mb-5">
				<source media="(max-width: 700px)" srcset="/static/img/golden-line-nails-peq.png">
				<img class="w-80" src="/static/img/golden-line-nails.png" alt="Linha dourada com ícone centralizado">
			</picture>

			<picture class="d-flex galeria-imagens justify-content-center flex-wrap">
				<div class="hovereffect" data-aos="zoom-in-right">
					<img class="img-responsive" src="/static/img/Produtos/clear.png" alt="Gel Clear Unique Nail">
					<div class="overlay">
						<h2>Gel Clear</h2>
						<a class="info" href="#">link here</a>
					</div>
				</div>

				<div class="hovereffect" data-aos="zoom-in">
					<img class="img-responsive" src="/static/img/Produtos/builder.png" alt="Builder Geis Unique Nail">
					<div class="overlay">
						<h2>Linha Builder</h2>
						<a class="info" href="#">link here</a>
					</div>
				</div>

				<div class="hovereffect">
					<img class="img-responsive" src="/static/img/Produtos/cover.png" alt="Gel Cover Unique Nail">
					<div class="overlay">
						<h2>Gel Cover</h2>
						<a class="info" href="#">link here</a>
					</div>
				</div>

				<div class="hovereffect" data-aos="zoom-in-right">
					<img class="img-responsive" src="/static/img/Produtos/white.png" alt="Gel White Unique Nail">
					<div class="overlay">
						<h2>Gel White</h2>
						<a class="info" href="#">link here</a>
					</div>
				</div>

				<div class="hovereffect" data-aos="zoom-in">
					<img class="img-responsive" src="/static/img/Produtos/curs.png" alt="Cursos Unique Nail">
					<div class="overlay">
						<h2>Produtos para Curso</h2>
						<a class="info" href="#">link here</a>
					</div>
				</div>

				<div class="hovereffect">
					<img class="img-responsive" src="/static/img/Produtos/nude.png" alt="">
					<div class="overlay">
						<h2>Gel Nude</h2>
						<a class="info" href="#">link here</a>
					</div>
				</div>
			</picture>
		</section>

		<!-- Background de divisão -->
		<div class="background-1"> <img src="/static/img/background-1.png" alt="Emenda"></div>
	</div>

	<!-- Inicio Kit Iniciante -->
	<div class="background-2">
		<section class="kit-iniciante titulos mb-3 text-center">
			<h2>Temos uma gama de kit's de inicantes a avançados.</h2>
			<h1> Conheça nosso Kit Iniciante</h1>
			<div class="kit-8-produtos mt-5">
				<div class="kit-8-posicao container">

					<!-- ------------------------- Inicio Carousel -------------------- -->
					<div id="carouselExampleControls" class="carousel slide " data-bs-ride="carousel">
						<div class="carousel-inner">

							<!-- -------------------- Carousel 1 ---------------------- -->
							<!-- <div class="carousel-item active">
								<div class="row">
									<div class="produtos-limpeza col-lg-5 col-md-5 d-flex justify-content-center">
										<img class="ps-4" data-bs-toggle="modal" data-bs-target="#Modal-5"
											src="/static/img/Produtos/cleanser-block.png" alt="Cleanser Unique Nail">
										<img class="ps-2" data-bs-toggle="modal" data-bs-target="#Modal-6"
											src="/static/img/Produtos/prep-block.png" alt="Prep Unique Nail">
									</div>
									<div
										class="produtos-10ml-geis col-lg-7 col-md-7 d-flex flex-wrap justify-content-center mt-4 pe-5">
										<img class="pe-2 pb-2 pt-3" data-bs-toggle="modal" data-bs-target="#Modal-1"
											src="/static/img/Produtos/top-coat-block.png" alt="Top Coat Unique Nail">

										<img class="pe-2 pb-2 pt-3" data-bs-toggle="modal" data-bs-target="#Modal-2"
											src="/static/img/Produtos/ph-bonder-block.png" alt="Ph Bonder Unique Nail">

										<img class="pe-2 pb-2 pt-3" data-bs-toggle="modal" data-bs-target="#Modal-3"
											src="
												/static/img/Produtos/primer-acido-block.png" alt="Primer Ácido Unique Nail">

										<img class="pe-2 pb-2 pt-3" data-bs-toggle="modal" data-bs-target="#Modal-4"
											src="/static/img/Produtos/primer-adesivador-block.png"
											alt="Primer Adesivador Unique Nail">

										<img class="pt-4 p-1" data-bs-toggle="modal" data-bs-target="#Modal-7"
											src="/static/img/Produtos/clear-block.png" alt="Gel Clear Unique Nail">

										<img class="pt-4 p-1" data-bs-toggle="modal" data-bs-target="#Modal-8"
											src="/static/img/Produtos/pink-block.png" alt="Gel Pink Unique Nail">
									</div>
								</div>
							</div> -->

							<!-- -------------------- Carousel 2 ---------------------- -->
							<div class="carousel-item active">
								<div class="row mt-5 pt-4">
									<div class="col-lg-5 col-md-7 d-flex flex-wrap justify-content-center mt-3 ms-3">

										<img class="ajuste-slide1 pe-2 pb-3 mb-3 " data-bs-toggle="modal" data-bs-target="#Modal-1"
											src="/static/img/Produtos/remov-block.png" alt="Top Coat Unique Nail">

										<img class="pe-2 pb-3 mb-3 " data-bs-toggle="modal" data-bs-target="#Modal-3"
											src="/static/img/Produtos/monomer-block.png" alt="Primer Ácido Unique Nail">

									</div>
								
									<div class="ajuste-slide1-geis col-lg-6 col-md-7 d-flex flex-wrap justify-content-center mt-4 p-0">
										<img class="p-1 pb-2 col-lg-2.5" data-bs-toggle="modal" data-bs-target="#Modal-7"
											src="/static/img/Produtos/clear-block.png" alt="Gel Clear Unique Nail">

										<img class="p-1 pb-2 col-lg-2.5" data-bs-toggle="modal" data-bs-target="#Modal-8"
											src="/static/img/Produtos/pink-block.png" alt="Gel Pink Unique Nail">

										<img class="p-1 pb-2 col-lg-2.5" data-bs-toggle="modal" data-bs-target="#Modal-7"
											src="/static/img/Produtos/clear-block.png" alt="Gel Clear Unique Nail">

										<img class="p-1 pb-2 col-lg-2.5" data-bs-toggle="modal" data-bs-target="#Modal-8"
											src="/static/img/Produtos/pink-block.png" alt="Gel Pink Unique Nail">
									</div>
								</div>
							</div>

							<!-- <div class="carousel-item">
								<img src="..." class="d-block w-100" alt="...">
							</div> -->
						</div>
						<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
							data-bs-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Previous</span>
						</button>
						<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
							data-bs-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Next</span>
						</button>
					</div>

				</div>
			</div>
			<article class="mt-5">
				<div class="kit-info m-auto container">
					<div class="row">
						<div class="col-lg-6 p-4 fst-italic text-start d-flex align-items-center ">
							<h5>UNIQUE NAIL - KIT INICIANTE COM 8 PRODUTOS</h5>
						</div>
						<div class="col-lg-3 p-2 d-flex text-start align-items-center justify-content-center">
							<ol>
								<li>Cleanser Plus 120ml</li>
								<li>Prep 120ml</li>
								<li>Top Coat 10ml</li>
								<li>Ph Bonder 10ml</li>
								<li>Primer Ácido 10ml</li>
								<li>Primer Adesivador 10ml</li>
								<li>Gel Builder Clear 20g</li>
								<li>Gel Builder Pink 25g</li>
							</ol>
						</div>
						<div class="col-lg-3 d-flex align-items-center justify-content-center p-3">
							<a href="https://mundodasunhas.com.br/produtos/unique-nail-kit-iniciante-8-produtos/"
								class="b-kit align-items-center d-flex justify-content-center cor-botao">COMPRAR</a>
						</div>
					</div>
				</div>
			</article>
		</section>

	</div>



<!-- Backup do index principal -->
	<section class="linha-geis titulos mb-3 text-center">
		<h2>Linha Builder</h2>
		<h1> Conheça Nossa Coleção de Géis</h1>
		<div class="linha-geis-prateleira mt-5">
			<div class="kit-8-posicao container">
				<div class="row">
					<div class="produtos-geis col-lg-12 col-md-12 col-sm-12 d-flex flex-wrap justify-content-center mt-4">
						<!-- Gel Base -->
						<a href="{% url 'gelBase' %}">
							<img class="pe-5 pb-5" src="/static/img/Produtos/base-block.png" alt="Gel Base Unique Nail">
						</a>
						<!-- Gel White -->
						<a href="{% url 'gelWhite' %}">
						<img class="pe-5 pb-5" src="/static/img/Produtos/white-block.png" alt="Gel White Unique Nail">
						</a>
						<!-- Gel Nude -->
						<a href="{% url 'gelNude' %}">
						<img class="pb-5" src="/static/img/Produtos/nude-block.png" alt="Gel Nude Unique Nail">
						</a>
						<!-- Gel Cover -->
						<a href="{% url 'gelCover' %}">
						<img class="pe-5 pt-3" src="/static/img/Produtos/cover-block.png" alt="Gel Cover Unique Nail">
						</a>
						<!-- Gel Clear -->
						<a href="{% url 'gelClear' %}">
						<img class="pe-5 pt-3"
							src="/static/img/Produtos/clear-block.png" alt="Gel Clear Unique Nail">
						</a>
						<!-- Gel Pink -->
						<a href="{% url 'gelPink' %}">
						<img class="pt-3"
							src="/static/img/Produtos/pink-block.png" alt="Gel Pink Unique Nail">
						</a>
					</div>
				</div>
			</div>
		</div>
		<article>
			<div class="kit-info m-auto container">
				<div class="row">
					<div class="col-lg-6 p-4 fst-italic text-start d-flex align-items-center ">
						<h5>COLEÇÃO DE GÉIS COM O TOM E A QUALIDADE QUE VOCÊ PRECISA</h5>
					</div>
					<div class="col-lg-4 p-2 d-flex text-start align-items-center justify-content-center">
						<ol>
							<li>Gel Builder Base 20g</li>
							<li>Gel Builder White 25g</li>
							<li>Gel Builder Nude 25g</li>
							<li>Gel Builder Cover 25g</li>
							<li>Gel Builder Clear 25g</li>
							<li>Gel Builder Pink 25g</li>
						</ol>
					</div>
					<div class="col-lg-2 d-flex align-items-center justify-content-center p-3">
						<a href="https://mundodasunhas.com.br/search/?q=Gel+Unique+Nail"
							class="b-kit align-items-center d-flex justify-content-center cor-botao">COMPRAR</a>
					</div>
				</div>
			</div>
		</article>
	</section>


	<!-------------------------------------------------Modais-------------------------------------------------------->
	<!-- Modal 1 TOP COAT -->
	<div class="modal fade" id="Modal-1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content background-modal-1">
				<div class="modal-header">
					<h1 class="modal-title" id="exampleModalLabel">Top Coat</h1>
				</div>
				<div class="modal-body">
					<ul>
						<li>Finalizador de Alto Brilho;</li>
						<li>Utilizado para o acabamento no processo de alongamento artificial;</li>
						<li>Garante um Aspecto Natural e sem Rachaduras;</li>
						<li>Deixa as unha prontas para o Esmalte;</li>
						<li>Seca em cabine LED e UV;</li>
						<li>Não deixa Goma;</li>
						<li>Uso profissional;</li>
						<li>Anvisa: 25351.529333/2020-19.</li>
					</ul>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary cor-botao" data-bs-dismiss="modal">Fechar</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal 2 PH BONDER -->
	<div class="modal fade" id="Modal-2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content background-modal-2">
				<div class="modal-header">
					<h1 class="modal-title" id="exampleModalLabel">PH-Bonder</h1>
				</div>
				<div class="modal-body">
					<ul>
						<li>Desidratador;</li>
						<li>Controle de PH;</li>
						<li>Ação adstringente e desengordurante;</li>
						<li>Utilizado na preparação das unhas que irão receber qualquer alongamento;</li>
						<li>Fácil aplicação com pincel;</li>
						<li>Melhor adesão do alongamento</li>
						<li>Não substitui o Primer;</li>
						<li>Anvisa: 25351.844707/2021-12</li>
					</ul>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary cor-botao" data-bs-dismiss="modal">Fechar</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal 3 PRIMER ÁCIDO -->
	<div class="modal fade" id="Modal-3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content background-modal-3">
				<div class="modal-header">
					<h1 class="modal-title" id="exampleModalLabel">Primer Ácido</h1>
				</div>
				<div class="modal-body">
					<ul>
						<li>Para Alongamento de Unhas;</li>
						<li>Prepara a unha natural, reduzindo a oleosidade;</li>
						<li>Forma uma pelicula adesiva para melhor Fixação do Gel;</li>
						<li>Não utilizar Cabine;</li>
						<li>A Função do primer é evitar que a unha artificial levante da unha natural antes do tempo
							indicado;</li>
						<li>Manutenção deve ser feita a cada 21 dias.</li>
						<li>Por conter ácido o produto não deve entrar em contato com a pele;</li>
						<li>Uso Profissional</li>
						<li>Anvisa: 25351.452131/2019-38</li>
					</ul>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary cor-botao" data-bs-dismiss="modal">Fechar</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal 4 PRIMER ADESIVADOR -->
	<div class="modal fade" id="Modal-4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content background-modal-4">
				<div class="modal-header">
					<h1 class="modal-title" id="exampleModalLabel">Primer Adesivador</h1>
				</div>
				<div class="modal-body">
					<ul>
						<li>Fórmula Sem Ácido, não agride as Unhas Naturais;</li>
						<li>Para Alongamento de Unhas;</li>
						<li>Forma uma pelicula adesiva para melhor Fixação do Gel;</li>
						<li>Não utilizar Cabine;</li>
						<li>Secar Naturalmente em até 60 segundos;</li>
						<li>A Função do primer é evitar que a unha artificial levante da unha natural antes do tempo
							indicado;</li>
						<li>Manutenção deve ser feita a cada 21 dias.</li>
						<li>Uso Profissional</li>
						<li>Anvisa: 25351.837575/2016-40</li>
					</ul>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary cor-botao" data-bs-dismiss="modal">Fechar</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal 5 CLEANSER PLUS -->
	<div class="modal fade" id="Modal-5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content background-modal-5">
				<div class="modal-header">
					<h1 class="modal-title" id="exampleModalLabel">Cleanser Plus 120ml</h1>
				</div>
				<div class="modal-body">
					<ul>
						<li>Solução de Limpeza que remove a Goma do Gel;</li>
						<li>Função Cristalizadora;</li>
						<li>Auxilia no Processo de Cura e Curvatura;</li>
						<li>Manter Longe de fontes de Calor e Vento;</li>
						<li>Uso Profissional</li>
						<li>Anvisa: 25351.704305/2018-72</li>
					</ul>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary cor-botao" data-bs-dismiss="modal">Fechar</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal 6 NAIL PREP -->
	<div class="modal fade" id="Modal-6" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content background-modal-6">
				<div class="modal-header">
					<h1 class="modal-title" id="exampleModalLabel">Nail Prep 120ml</h1>
				</div>
				<div class="modal-body">
					<ul>
						<li>Spray Higienizante Refrescante;</li>
						<li>Controla Oleosidade e Umidade das Unhas;</li>
						<li>Utilizado antes do processo de aplicação do Primer;</li>
						<li>Utilizado na Limpeza dos utensílios de manicure;</li>
						<li>Manter Longe de fontes de Calor e Vento;</li>
						<li>Uso Profissional;</li>
						<li>Anvisa: 25351.708285/2019-90.</li>
					</ul>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary cor-botao" data-bs-dismiss="modal">Fechar</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal 7 GEL BUILDER CLEAR -->
	<div class="modal fade" id="Modal-7" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content background-modal-7">
				<div class="modal-header">
					<h1 class="modal-title" id="exampleModalLabel">Gel Hard Builder Clear</h1>
				</div>
				<div class="modal-body">
					<ul>
						<li>Utilizado para Alongamento e Manutenção de Gel, Acrigel, Fibra, Molde, Tips, entre
							outros;</li>
						<li>Autonivelante;</li>
						<li>Tonalidade Clear Transparente;</li>
						<li>Alta Resistência e Aderência;</li>
						<li>Ideal para Encapsulamento;</li>
						<li>Seca em Cabine LED/UV 60 Segundos UV 120 Segundos; </li>
						<li>Menor quantidade de Pó no processo de Lixamento;</li>
						<li>Menor sensação de queima;</li>
						<li>Quantidade reduzida de goma após a cura;</li>
						<li>Não Abre a Curvatura;</li>
						<li>Anvisa: 25351.298625/2021-85</li>
					</ul>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary cor-botao" data-bs-dismiss="modal">Fechar</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal 8 GEL BUILDER PINK -->
	<div class="modal fade" id="Modal-8" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content background-modal-8">
				<div class="modal-header">
					<h1 class="modal-title" id="exampleModalLabel">Gel Hard Builder Pink</h1>
				</div>
				<div class="modal-body">
					<ul>
						<li>Gel de Alta Resistência, utilizado para Alongamento e Manutenção de Gel, Acrigel, Fibra;
						</li>
						<li>Autonivelante;</li>
						<li>Não escorre;</li>
						<li>Tonalidade Pink Nude;</li>
						<li>Alta Resistência e Aderência;</li>
						<li>Seca em Cabine LED/UV 60 Segundos UV 120 Segundos; </li>
						<li>Menor quantidade de Pó no processo de Lixamento;</li>
						<li>Menor sensação de queima;</li>
						<li>Quantidade reduzida de goma após a cura;</li>
						<li>Não Abre a Curvatura;</li>
						<li>Anvisa: 25351.298683/2021-17.</li>
					</ul>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary cor-botao" data-bs-dismiss="modal">Fechar</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal 9 GEL BUILDER COVER -->
	<div class="modal fade" id="Modal-9" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content background-modal-9">
				<div class="modal-header">
					<h1 class="modal-title" id="exampleModalLabel">Gel Hard Builder Cover</h1>
				</div>
				<div class="modal-body">
					<ul>
						<li>Gel de Alta Resistência, utilizado para Alongamento e Manutenção de Gel, Acrigel, Fibra;
						</li>
						<li>Autonivelante;</li>
						<li>Não escorre;</li>
						<li>Tonalidade Pink Nude;</li>
						<li>Alta Resistência e Aderência;</li>
						<li>Seca em Cabine LED/UV 60 Segundos UV 120 Segundos; </li>
						<li>Menor quantidade de Pó no processo de Lixamento;</li>
						<li>Menor sensação de queima;</li>
						<li>Quantidade reduzida de goma após a cura;</li>
						<li>Não Abre a Curvatura;</li>
						<li>Anvisa: 25351.298683/2021-17.</li>
					</ul>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary cor-botao" data-bs-dismiss="modal">Fechar</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal 10 GEL STRONG PINK -->
	<div class="modal fade" id="Modal-10" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content background-modal-10">
				<div class="modal-header">
					<h1 class="modal-title" id="exampleModalLabel">Gel Strong Pink Light</h1>
				</div>
				<div class="modal-body">
					<ul>
						<li>Gel de Alta Resistência, utilizado para Alongamento e Manutenção de Gel, Acrigel, Fibra;
						</li>
						<li>Autonivelante;</li>
						<li>Não escorre;</li>
						<li>Tonalidade Pink Nude;</li>
						<li>Alta Resistência e Aderência;</li>
						<li>Seca em Cabine LED/UV 60 Segundos UV 120 Segundos; </li>
						<li>Menor quantidade de Pó no processo de Lixamento;</li>
						<li>Menor sensação de queima;</li>
						<li>Quantidade reduzida de goma após a cura;</li>
						<li>Não Abre a Curvatura;</li>
						<li>Anvisa: 25351.298683/2021-17.</li>
					</ul>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary cor-botao" data-bs-dismiss="modal">Fechar</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal 11 GEL STRONG BRANCO -->
	<div class="modal fade" id="Modal-11" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content background-modal-11">
				<div class="modal-header">
					<h1 class="modal-title" id="exampleModalLabel">Gel Strong Branco</h1>
				</div>
				<div class="modal-body">
					<ul>
						<li>Gel de Alta Resistência, utilizado para Alongamento e Manutenção de Gel, Acrigel, Fibra;
						</li>
						<li>Autonivelante;</li>
						<li>Não escorre;</li>
						<li>Tonalidade Pink Nude;</li>
						<li>Alta Resistência e Aderência;</li>
						<li>Seca em Cabine LED/UV 60 Segundos UV 120 Segundos; </li>
						<li>Menor quantidade de Pó no processo de Lixamento;</li>
						<li>Menor sensação de queima;</li>
						<li>Quantidade reduzida de goma após a cura;</li>
						<li>Não Abre a Curvatura;</li>
						<li>Anvisa: 25351.298683/2021-17.</li>
					</ul>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary cor-botao" data-bs-dismiss="modal">Fechar</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal 12 GEL STRONG SAFIRA -->
	<div class="modal fade" id="Modal-12" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content background-modal-12">
				<div class="modal-header">
					<h1 class="modal-title" id="exampleModalLabel">Gel Strong Safira</h1>
				</div>
				<div class="modal-body">
					<ul>
						<li>Gel de Alta Resistência, utilizado para Alongamento e Manutenção de Gel, Acrigel, Fibra;
						</li>
						<li>Autonivelante;</li>
						<li>Não escorre;</li>
						<li>Tonalidade Pink Nude;</li>
						<li>Alta Resistência e Aderência;</li>
						<li>Seca em Cabine LED/UV 60 Segundos UV 120 Segundos; </li>
						<li>Menor quantidade de Pó no processo de Lixamento;</li>
						<li>Menor sensação de queima;</li>
						<li>Quantidade reduzida de goma após a cura;</li>
						<li>Não Abre a Curvatura;</li>
						<li>Anvisa: 25351.298683/2021-17.</li>
					</ul>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary cor-botao" data-bs-dismiss="modal">Fechar</button>
				</div>
			</div>
		</div>
	</div>

</main>

{% include 'partials/footer.html' %}

{% endblock %}