{% extends 'base.html' %}
{% load static %}
{% block content %}

{% include 'partials/menu.html' %}


<main class="inicio-higienizadores">

	<!-- ---------------------- Paralaxe prep --------------------------- -->
	<div class="paralaxe-prep"></div>

	<!-- -------------------------- Cards -------------------------------- -->
    <section class="cards-blindagem m-auto py-4">
        
        <!-- ---------------------- Card 1 ------------------------------- -->
        <div class="card-b">
            <h6 class="titulo-blind">Nail Prep</h6>
			<img class="blindagem-img" src="{% static 'img/higienizadores/prep-120-shadow.png' %}" alt="Nail Prep - Spray Higienizante Unique Nail">
            <a href="{% url 'prep' %}"><img class="icone-mais" src="{% static 'img/blindagem/icone-mais.png' %}" alt="Ícone saiba mais"></a>
        </div>

        <!-- ---------------------- Card 2 ------------------------------- -->
        <div class="card-b">
            <h6 class="titulo-blind">PH Bonder</h6>
            <img class="blindagem-img" src="{% static 'img/blindagem/phbonder-shadow.png' %}" alt="PH Bonder Unique Nail">
            <a href="{% url 'phBonder' %}"><img class="icone-mais" src="{% static 'img/blindagem/icone-mais.png' %}" alt="Ícone saiba mais"></a>
        </div>

        <!-- ---------------------- Card 3 ------------------------------- -->
        <div class="card-b">
            <h6 class="titulo-blind">Primer Ácido</h6>
            <img class="blindagem-img" src="{% static 'img/blindagem/primeracido-shadow.png' %}" alt="Primer Ácido Unique Nail">
            <a href="{% url 'primerAcido' %}"><img class="icone-mais" src="{% static 'img/blindagem/icone-mais.png' %}" alt="Ícone saiba mais"></a>
        </div>        


    </section>

</main>

{% include 'partials/footer.html' %}

{% endblock %}